/* Fonts */
/* replacement for Avenir */
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.ttf');
}


/* Text Defaults */
a, p, span, li, input {
	font-family: 'Roboto-Regular', sans-serif;
	color: #fff;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 250ms opacity ease-in-out;
}

a:hover {
	opacity: 0.7;
	cursor: pointer;
}

input {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	color: #fff;
}


/* Styles */
body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: 1320px;
	margin: 0px auto;
	padding: 0px 20px;
}

.background {
	background: url('../images/image.jpeg') center center;
	background-size: cover;
	height: 100vh;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.background__mask {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	background: #1B1B1B;
	position: absolute;
}

.header {
	width: 100%;
  z-index: 2;
  flex: 0 0 100px;
	display: flex;
	align-items: center;
}

.header__logo{
	flex: 1;
  display: flex;
}

.header__navigation{
	flex: 1;
  display: flex;
  justify-content: center;
}

.header__navigation ul{
	display: flex;
}

.header__navigation ul li{
	padding: 0px 20px;
}

.header__navigation ul li a{
	font-size: 20px;
	font-family: 'Roboto-Thin';
}

.header__button-wrapper{
	flex: 1;
	justify-content: flex-end;
   display: flex;
}

.header__button {
  width: 28px;
  height: 19px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 1010;
}

.header__button span {
  background: #fff;
  height: 2px;
  border-radius: 1px;
  width: 100%;
  position: relative;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
  display: block;
}

.header__button span:nth-of-type(2), 
.header__button span:nth-of-type(3) {
  margin-top: 6px;
}

.header__button.active .-top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
  transform: translateY(6px) translateX(0) rotate(45deg);
  background: #fff;
}

.header__button.active .-middle {
  opacity: 0;
  background:  #fff;
}

.header__button.active .-bottom {
  -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
          transform: translateY(-6px) translateX(0) rotate(-45deg);
  background:  #fff;
}



.hero {
	flex: 1;
	width: 100%;
	background: rgba(200,100,100, 0.7);
	z-index: 2;
	height: 366px;
	display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
	width: 100%;
  z-index: 2;
  flex: 0 0 60px;
  display: flex;
  align-items: center;
}

.footer__credit{
	flex: 0 0 240px;
  font-size: 14px;
  font-family: 'Roboto-Thin';
}

.footer__navigation{
	flex: 1;
  justify-content: flex-end;
  display: flex;
}

.footer__navigation ul{
	display: flex;
}

.footer__navigation ul li{
	padding: 0px 20px;
}

.footer__navigation ul li a{
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Avenir';
}


