/* Fonts */
/* replacement for Avenir */
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

/* Text Defaults */
a, p, span, li, input {
	font-family: 'Roboto-Regular', sans-serif;
	color: #fff;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 200ms opacity ease-in-out;
}

a:hover {
	opacity: 0.6;
	cursor: pointer;
}

input {
	color: #333;
	font-family: "Roboto-Light", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir", 'Nunito', sans-serif;
	color: #fff;
	margin: 0px;
}


/* Styles */
body {
	position: relative;
	min-height: 800px;
	height: 100vh;
}

.container {
	max-width: 1320px;
	margin: 0px auto;
	padding: 0px 20px;
}

.container-narrow {
	max-width: 1160px;
	margin: 0px auto;
	padding: 0px 40px;
}


.background {
	background: url('../images/image.jpeg') center center;
	background-size: cover;
	height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.background__mask {
	height: 100%;
	width: 100%;
	opacity: 0.5;
	background: #1B1B1B;
	position: absolute;
}

.header {
	width: 100%;
  z-index: 2;
  height: 100px;
	display: flex;
	align-items: center;
}

.header__logo{
	flex: 1;
  display: flex;
}

.header__navigation{
	flex: 1;
  display: flex;
  justify-content: center;
}

.header__navigation ul{
	display: flex;
}

.header__navigation ul li{
	padding: 0px 20px;
}

.header__navigation ul li a{
	font-size: 20px;
	font-family: 'Roboto-light';
}

.header__button-wrapper{
	flex: 1;
	justify-content: flex-end;
  display: flex;
}

.header__button {
  width: 28px;
  height: 19px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  z-index: 1010;
}

div.header__button:hover{
	opacity: 0.5;
}

.header__button span {
  background: #fff;
  height: 2px;
  border-radius: 1px;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: block;
}

.header__button span:nth-of-type(2), 
.header__button span:nth-of-type(3) {
  margin-top: 6px;
}

.hero {
	flex: 1;
	width: 100%;
	z-index: 2;
	display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.hero__copy {
	flex: 1;
}

.hero__copy h1 {
	font-size: 72px;
	line-height: 80px;
}

.hero__copy p {
	font-size: 20px;
	margin-top: 25px;
	line-height: 35px;
	max-width: 430px;
}

.hero__signup-form{
	flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.hero__signup-form__inner{
  width: 100%;
  max-width: 460px;
  display: block;
}

.hero__signup-form__title {
	text-transform: uppercase;
	font-family:"Avenir", "Nunito";
	font-size: 16px;
	text-align: center;
  margin-bottom: 30px;
}

.hero__signup-form__field {
	display: block;
	width: 100%;
	height: 60px;
	background: transparent;
}

.hero__signup-form__field input {
	border: none;
  display: block;
  width: 100%;
  height: 100%;
	color: #fff;
	background: rgba(255,255,255, 0.1);
	padding: 0px 0px 0px 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  color: #fff;
	font-size: 16px;
}

input.hero__signup-form__field:focus {

}

::placeholder {
	color: rgba(255,255,255,0.7);
	font-size: 16px;
	font-family: 'Roboto-Light';
}

input.hero__signup-form__field__name {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 2px solid rgba(255,255,255, 0.3);
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}


input.hero__signup-form__field__email{
	border: 2px solid rgba(255,255,255, 0.3);
	border-top: none;
	border-bottom: none;
}


input.hero__signup-form__field__password {
	border: 2px solid rgba(255,255,255, 0.3);
	border-bottom: none;
	border-top: 1px solid rgba(255,255,255, 0.3);
}

.hero__signup-form__field{
	color: #fff;
	/*border: 2px solid rgba(255,255,255, 0.3);
	border-bottom: none;
	border-top: none;*/
}

input.hero__signup-form__field__submit {
  background: #2C99ED;
  color: #fff;
  font-size: 19px;
  border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 2px solid #2C99ED;
	transition: opacity 200ms ease-in-out;
}

input.hero__signup-form__field__submit:hover {
  opacity: 0.8;
}


.hero__signup-form__note{
	text-align: center;
  margin-top: 30px;
  color: rgba(200,200,200, 0.8);
  font-family: 'Roboto-Light';
  font-size: 14px;
}

.hero__signup-form__tos{
	text-align: center;
	color: #fff;
	margin-top: 10px;
	display: block;
	font-family: 'Roboto-Light';
}

.footer {
	width: 100%;
  z-index: 2;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.footer__credit{
	flex: 1;
  font-size: 14px;
  font-family: 'Roboto-Thin';
}

.footer__navigation{
	flex: 1;
  justify-content: flex-end;
  display: flex;
}

.footer__navigation ul{
	display: flex;
}

.footer__navigation ul li{
	padding: 20px
}

.footer__navigation ul li a{
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Avenir', 'Nunito';
}

/* Responsive */

@media only screen and (max-width: 900px) {
	body {
		min-height: 1000px;
	}

	.hero {
		display: block;
	}

	.hero__copy{
		text-align: center;
	}

	.hero__copy h1{
		font-size: 60px;
		line-height: 70px;
		max-width: 500px;
    margin: 0px auto 20px;
	}

	.hero__copy p{
		max-width: 500px;
    margin: 0px auto;
    margin-bottom: 35px;
	}


	.hero__signup-form{
		align-items: center;
    justify-content: flex-start;
    width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.footer{
		height: auto;
	}

	.hero__copy h1{
		font-size: 50px;
		line-height: 60px;
	}

	.header__navigation {
		display: none;
	}

	.footer {
		padding: 20px;
	}

	.footer__credit {
		font-size: 12px;
	}
	.footer__navigation ul li {
		padding: 5px 10px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 500px) {
	body {
		min-height: 1100px;
	}

	.hero {
		top: 46%;
	}

	.hero__copy h1{
		font-size: 40px;
		line-height: 50px;
	}

	.footer__navigation ul {
		display: block;
	}
}